body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	background-image: url(/images/top-rept2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
a {
	color: #0628AE;
	text-decoration: underline;
}
a:hover {
	color: #0628AE;
	text-decoration: none;
}
.main {
	background-image: url(/images/bottom-rept.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 100%;
	float: left;
}
.page-out {
	width: 939px;
	margin: 0px auto;
}
.page {
	width: 939px;
	float: left;
	padding-top: 8px;
}
.header {
	width: 899px;
	float: left;
	padding: 0px 20px;
}
.header-top {
	width: 899px;
	height: 63px;
	float: left;
	padding-bottom: 3px;
}
.header-top h1 {
	font-size: 28px;
	font-weight: normal;
	line-height: 63px;
	color: #FFFFFF;
	float: left;
	padding-left: 7px;
}
.header-top ul {
	height: 27px;
	float: right;
	margin-top: 18px;
	list-style-type: none;
}
.header-top ul li {
	height: 27px;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}
.header-top ul li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 27px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 27px;
	float: left;
	padding-left: 17px;
}
.header-top ul li a span {
	line-height: 27px;
	display: block;
	height: 27px;
	float: left;
	padding-right: 17px;
	cursor: pointer;
}
.header-top ul li a:hover {
	color: #000000;
	background-color: #84c43a;
	background-image: url(/images/menu-left.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.header-top ul li a:hover span {
	background-color: #84c43a;
	background-image: url(/images/menu-right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.header-img {
	width: 899px;
	float: left;
}
.content {
	width: 939px;
	float: left;
	padding: 19px 20px 0px 20px;
}
.left-out {
	width: 939px;
	float: left;
}
.left-in {
	
	width: 939px;
	float: left;
}
.left-panel {
	
	width: 939px;
	float: left;
	padding: 0px 40px 0px 10px;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 100%;
	color: #438521;
	margin-top: 20px;
	margin-bottom: 20px;
}
.title span {
	color: #333333;
}
.profile {
	font-size: 15px;
	width: 500px;
	height: 100%;
	float: left;
	padding: 18px;
	margin-left: 10px;
}
.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}

.sections {
	width: 899px;
	height: 100%;
	float: left;
	padding-top: 41px;
}
.section1 {
	font-size: 11px;
	background-image: url(/images/sec1bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 171px;
	height: 280px;
	float: left;
	padding: 18px;
	margin-left: 10px;
}
.section1 h3, .section4 h3 {
	font-size: 14px;
}
.section2 {
	font-size: 11px;
	background-image: url(/images/sec2bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 171px;
	height: 280px;
	float: left;
	padding: 18px;
	margin-left: 17px;
}
.section2 h3 {
	font-size: 14px;
	color: #1f5aa0;
}
.section3 {
	font-size: 11px;
	background-image: url(/images/sec3bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 171px;
	height: 280px;
	float: left;
	padding: 18px;
	margin-left: 17px;
}
.section3 h3 {
	font-size: 14px;
	color: #2d680c;
}
.section4 {
	font-size: 11px;
	background-image: url(/images/sec4bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 172px;
	height: 280px;
	float: left;
	padding: 18px;
	margin-left: 17px;
}
a.more {
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
a.more:hover {
	color: #333333;
	text-decoration: underline;
}
.footer {
	background-image: url(/images/footer-img.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 899px;
	height: 111px;
	float: left;
	padding: 0px 20px;
}
.footer-left {
	font-size: 11px;
	color: #FFFFFF;
	width: 200px;
	float: left;
}
.footer-right {
	float: right;
	padding-top: 29px;
}
.footer-right ul {
	list-style-type: none;
}
.footer-right ul li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #a0a0a0;
	display: inline;
}
.footer-right ul li a {
	color: #a0a0a0;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}
.footer-right ul li a:hover {
	color: #FFFFFF;
}
.footer-right p {
	font-size: 12px;
	color: #737373;
	text-align: right;
	margin-right: 15px;
	margin-top: 20px;
}
.footer-link {
	color:#999999; 
	text-decoration:none; 
}
.footer-link:hover {
	color:#999999; 
	text-decoration:underline; 
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
p.one {
	border-style: solid;
	border-width: 5px;
  }
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
	color: white;
    width: 100%;
  }
}